<div class="section-container">
    <div class="section-title text-center">
        <h2>contact me</h2>
        <div class="icon">
            <i class="fas fa-star"></i>
        </div>

    </div>

    <div class="container my-5">
        <form>
            <div class="input-box">
                <input type="text" required >
                <span>Name</span>
            </div>

            <div class="input-box">
                <input type="email" required >
                <span>Email Address</span>
            </div>

            <div class="input-box">
                <input type="phone" required >
                <span>Phone Number</span>
            </div>

            <input type="submit" value="Send">
        </form>

    </div>

</div>
