/* You can add global styles to this file, and also import other style files */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
    text-transform: uppercase;
    font-weight: bold;
}

.section-container {
    height: 100%;
    padding: 50px 0;
}

.section-title h2 {
    font-size: 3rem;
    color: #2c3e50;
}


.icon {
    position: relative;
    margin: 20px 0;
}

.icon i {
    font-size: 2rem;
}

.icon::before {
    content: '';
    height: 4px;
    width: 105px;
    position: absolute;
    top: 50%;
    right: 52.5%;
    background-color: #fff;
}

.icon::after {
    content: '';
    height: 4px;
    width: 105px;
    position: absolute;
    top: 50%;
    left: 52.5%;
    background-color: #fff;
}

@media screen and (max-width:991px){
    .icon::before {
        right: 55%;
    }
    .icon::after {
        left: 55%;
    }
}


@media screen and (max-width:600px){
    .icon::before {
        right: 60%;
    }
    .icon::after {
        left: 60%;
    }
}
