.home-container {
    height: 100vh;
    background-color: #1abc9c;
    text-align: center;
}

.home-image {
    width: 250px;
    margin-top: 6rem;
    margin-bottom: 2rem;
}

.home-caption h1 {
    font-size: 4.3rem;
}


.home-caption p{
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 25px;
}

@media screen and (max-width:600px){
    .home-caption h1{
        font-size: 2rem;
    }

    .home-caption p{
        font-size: 1.2rem;
    }
}